.icon-guide {
    font-size: 32px;
  }
  
  .success-icon { color: green; }
  .danger-icon { color: red; }
  .warning-icon { color: orange; }
  .info-icon { color: dodgerblue; }
  .primary-icon { color: blue; }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }  